.Ulti {
    width: 15%;
    height: 80%;
    right: 6%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    scale: 1 1;
}

.Ulti--OnCoolDown {
    scale: 0.7 0.7;
}

.Skill {
    width: 15%;
    height: 80%;
    right: 6%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 6%;
    display: flex;
}

.Skill--OnCoolDown {
    scale: 0.7 0.7;
}
